## ==============================
## ====== DOCKER VARIABLES ======
## ==============================
COMPOSE_PROJECT_NAME=tms-spring
APP_HOST=spring_app

### The platform to build the image: windows/amd64, linux/amd64, linux/arm64, linux/arm64/v8, darwin/amd64, darwin/arm64
PLATFORM=linux/amd64

MYSQL_HOST_PORT=3315
MYSQL_ROOT_PASSWORD=root

SPRING_HOST_PORT=8085
SPRING_LOCAL_HOST_PORT=8080

NGINX_HOST_HTTP_PORT=8095
NGINX_HOST_NAME=tms.uit.local

PHPMYADMIN_PORT=9025
## ==============================
